textblob
django-emoji
tweepy
certifi
CouchDB==1.2
Django==3.0.7
PyYAML==5.3.1
docker==4.2.0
docker-compose==1.25.5
numpy==1.18.2
pandas==1.0.3
pip==20.0.2
requests==2.23.0
websocket-client==0.57.0
uwsgi==2.0.15
geopy==1.22.0