@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    margin:0;
    padding:0;
}

wrapper{
    width:1170px;
    margin:auto;
    background-color: #666666;
}
header{
    /*background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../image/back.png");*/
    background: url("../image/back.png");
    height: 110vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.nav-team32{
    color: #343434;
    font-size: 22px;
}


.navbar{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}


.nav-area {
    float: right;
    list-style: none;
    margin-bottom: 5px;

    /*margin-right: 30px;*/

}
.nav-area li {
    display: inline-block;
}

.nav-area li a {
    color: #707074;
    text-decoration: none;
    padding: 5px 20px;
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Nunito', sans-serif;
    font-size: 18px;

}

.nav-area li a:hover{
    background: #abbfe2;
    color: #333;

}

.logo img{
    width:100px;
    float: left;
    height:auto;
}
.welcome-text{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 12% 30% 20%;

    text-align: center;
}
.welcome-text h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;

    /*font-family: 'Indie Flower', cursive;*/
    /*font-family: 'Galada', cursive;*/
    color:black;
    text-transform: uppercase;
    font-size:80px;
}
.welcome-text h2 {
    font-family: 'Nunito', sans-serif;
    color: white;
    padding: 10px 20px;
    background-color: black;
    display: inline-block;
    font-size: 20px;
}
.welcome-text ul {
    font-family: 'Nunito', sans-serif;
    color: black;
    font-size: 20px;
}


.welcome-text a{

}