/*#incomeMap {*/
/*    width: 100%;*/
/*    height: 400px;*/
/*    background-color: grey;*/
/*}*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#startMap {
    width: 100%;
    height: 100vh ;
    background-color: grey;
}
@import url('https://fonts.googleapis.com/css?family=Arapey');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    margin: 0;
    font-family: 'Arapey';

}

h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 30%;
}
.wrapper{
    width: 1170px;
    margin:auto;
}
header{
    background: url("https://about.unimelb.edu.au/__data/assets/image/0024/108843/University-Welcome-sign.jpg");
    height: 100vh;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;


}
section.center {
    text-align: center;
}
img {
    position: absolute;
    width: 100%;

}
/*.dropdown{*/
/*    position: absolute;*/
/*    top: 100%;*/
/*}*/

.intro {
    height: 100vh;
}

.intro video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.intro h1 {
    font-family: 'Indie Flower', cursive;
    position: absolute;
    top: 20%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: white;
}

section {
    height: 80vh;
    color: black;
}

section h1 {
    padding-top: 0px;
    text-align: center;
    font-size: 80px;
}
