
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Data Visualization</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="../static/CSS/chartStyle.css" rel="stylesheet" type="text/css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
</head>

<body>

<!--------------------------------navbar-------------------------------------------->
<div class = "nav-team32">
    <nav class="navbar navbar-light bg-light border-bottom">
        <a class="navbar-brand" href="#">
            <img src="../static/image/logo.png" width="70" height="70" >

        </a>
        <ul class = "brandname" style="font-family: 'Roboto', sans-serif; font-weight:900;">TEAM 32</ul>
        <ul class="nav-area">
            <!--  Chart  -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                    Monitoring
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="http://45.113.234.69:3000/d/jkbI2ZzGz/docker-monitoring?orgId=1&refresh=10s" target="_blank">instance 1</a>
                    <a class="dropdown-item" href="http://115.146.94.169:3000/d/193/docker-monitoring?orgId=1&refresh=10s" target="_blank">instance 2</a>
                    <a class="dropdown-item" href="http://115.146.93.145:3000/d/193/docker-monitoring?orgId=1&refresh=10s" target="_blank">instance 3</a>

                </div>
            </li>
            <li><a href="../map">Map</a></li>
            <li><a href="../chart" style="color: #007bff">Chart</a></li>
            <li><a href="../" >Home</a></li>
        </ul>
    </nav>
</div>




<div id="main">
    <div class="chart_container">
        <div id="container">
            <div id="flexCon">
                <div class="flex-row">
                    <div class="flex-cell flex-cell-c">
                        <div>
                            <a class="chart-title">The comparision of two statistics</a>
                            <a class="select-data">
                                <select class="stats_select" id="Type1" onchange="changeType()">
                                    <option value="total_unemployed" selected >Total unemployed</option>
                                    <option value="non-school_qualification">Non-school qulification</option>
                                    <option value="death_number">Death number</option>
                                    <option value="medical_expense">Medical expense</option>
                                    <option value="imcome_support_percentage">Income support percentage</option>
                                </select>
                                <a>VS.</a>
                                <select id="Type2" onchange="changeType()">
                                    <option value="1">Positive twitter</option>
                                    <option value="0" selected>Indifferent twitter</option>
                                    <option value="-1">Negative twitter</option>
                                </select>
                            </a>
                        </div>
                        <div class="chart-wrapper" style="width: 100%; overflow-x: auto;overflow-y:auto">
                            <div class="chart-div" style="width: 10000px; height: 350px">
                                    <canvas id="barchart" width="0" height="100%"></canvas>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="flex-row">
                    <div class="flex-cell flex-cell-lc">
                        <a class="chart-title"> The average sentiments of different suburbs from 2014 to 2018</a>
                        <a class="select-data">
                            <select class="stats_select" id="suburb_select" onchange="recreateData()">
                            </select>
                        </a>
                        <div class="chart-wrapper">
                            <div class="chart-div chart-done" style="width:100%; height: 100%">
                                <div class="chart-loader"><div class="loader"></div></div>
                                <canvas id="linechart" height="78%"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-row">
                    <div class="flex-cell flex-cell-l">
                        <a class="select-data">
                            <select class="stats_select" id="Type3" onchange="changeStats()">
                                <option value="total_unemployed" selected>Total unemployed</option>
                                <option value="non-school_qualification">Non-school qulification</option>
                                <option value="death_number">Death number</option>
                                <option value="medical_expense">Medical expense</option>
                                <option value="imcome_support_percentage">Income support percentage</option>
                            </select>
                        </a>
                        <a class="chart-title"> against with the sentiments in</a>
                        <a class="select-data">
                            <select class="stats_select" id="year_select" onchange="changeStats()">
                                <option value="2014" selected>2014</option>
                                <option value="2015">2015</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                            </select>
                        </a>
                        <div class="chart-wrapper">
                            <div class="chart-div chart-done">
                                <canvas id="scatterchart" height="80%" width=“”></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="../static/JavaScript/aurin.js"></script>
<!--<script src="../static/JavaScript/chartScript.js"></script>-->
<script src="../static/JavaScript/upperChart.js"></script>
<script src="../static/JavaScript/middle_chart.js"></script>
<script src="../static/JavaScript/lower_chart.js"></script>

</body>

</html>