<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Data Visualization</title>
    <link href="../static/CSS/chartStyle.css" rel="stylesheet" type="text/css">
<!--    <link href="../static/CSS/chartStyle2.css" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!--    <link href="../static/CSS/navbar.css" rel="stylesheet" type="text/css">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
</head>

<body>

<!--------------------------------navbar-------------------------------------------->
<div class = "nav-team32">
    <nav class="navbar navbar-light bg-light border-bottom">
        <a class="navbar-brand" href="#">
            <img src="../static/image/logo.png" width="70" height="70" >

        </a>
        <ul class = "brandname" style="font-family: 'Roboto', sans-serif; font-weight:900;">TEAM 32</ul>
        <ul class="nav-area">
            <!--  Chart  -->
            <li><a href="../chart">Map</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #007bff">
                    Chart
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" onclick="initMap()" > Chart1</a>
                    <a class="dropdown-item" onclick="incomeMap(['total_unemployed'])">Chart2</a>
                    <a class="dropdown-item" onclick="test()">Chart3</a>
                </div>
            </li>
            <li><a href="../" >Home</a></li>
        </ul>
    </nav>
</div>




<div id="main">
    <div class="chart_container">
        <div id="container">
            <div id="flexCon">
                <div class="flex-row">
                    <div class="flex-cell flex-cell-l">
                        <div class="chart-wrapper">
                            <div>
                                <a>
                                </a>
                            </div>
                            <div class="chart-div">
                                <div>
                                    <a>Type 1</a>
                                    <a>VS.</a>
                                    <a>Type 2</a>
                                </div>
                                <div class="select-data">
                                    <select id="Type1" onchange="changeType()">
                                        <option value="total_unemployed" selected>Total unemployed</option>
                                        <option value="non-school_qualification">Non-school qulification</option>
                                        <option value="death_number">Death number</option>
                                        <option value="medical_expense">Medical expense</option>
                                        <option value="imcome_support_percentage">Income support percentage</option>
                                    </select>
                                    <a>VS.</a>
                                    <select id="Type2" onchange="changeType()">
                                        <option value="total_unemployed">Total unemployed</option>
                                        <option value="non-school_qualification" selected>Non-school qulification</option>
                                        <option value="death_number">Death number</option>
                                        <option value="medical_expense">Medical expense</option>
                                        <option value="imcome_support_percentage">Income support percentage</option>
                                    </select>
                                </div>
                                <p id="Cities"></p>
                                <div>
                                    <a>City Group: </a>
                                    <select id="City_Group" onchange="changeType()">
                                        <option value="1" selected>1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-cell flex-cell-c">
                        <div class="chart-wrapper">
                            <h3 class="chart-title"></h3>
                            <div class="chart-div">
                                <canvas id="barchart" width="100%" height="50%"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="flex-cell flex-cell-r">
                        <div class="chart-wrapper">
                            <h3 class="chart-title"></h3>
                            <div class="chart-div chart-done">
                                <div class="chart-loader"><div class="loader"></div></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-row">
                    <div class="flex-cell flex-cell-lc">
                        <div class="chart-wrapper">
                            <h3 class="chart-title"></h3>
                            <div class="chart-div chart-done">
                                <div class="chart-loader"><div class="loader"></div></div>
                                <canvas id="linechart" height="90%"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="flex-cell flex-cell-r">
                        <div class="chart-wrapper">
                            <h3 class="chart-title"></h3>
                            <div class="chart-div chart-done">
                                <div class="chart-loader"><div class="loader"></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="../static/JavaScript/aurin.js"></script>
<!--<script src="../static/JavaScript/chartScript.js"></script>-->
<script src="../static/JavaScript/upperChart.js"></script>

</body>

</html>