{#Author: Zhe Wang#}
{#ID: 1064919#}
{#Team 32#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/CSS/homeStyle.css">
</head>
<!--https://www.tripsavvy.com/thmb/XW0-2sJZ0-Ua5gCCw31pu1AOX38=/2098x1428/filters:fill(auto,1)/cityscape-of-melbourne-city-of-australia-during-the-sunset&#45;&#45;873409300-8db98cef20b44200abfb339188d801f7.jpg-->
<body>
<header>
<!--    <div class="wrapper">-->
<!--        <div class="logo">-->
<!--            <img src="logo.png" alt="">-->
<!--        </div>-->
<!--        <ul class="nav-area">-->
<!--            <li><a href="#" onclick="page()">Home</a></li>-->
<!--            <li><a href="./go_to_map">Map</a></li>-->
<!--            <li><a href="./go_to_chart" >Chart</a></li>-->
<!--        </ul>-->
<!--    </div>-->
    <div class = "nav-team32">
    <nav class="navbar navbar-light bg-light border-bottom">
        <a class="navbar-brand" href="#">
            <img src="../static/image/logo.png" width="70" height="70" class="d-inline-block align-top" alt="">

        </a>
        <ul class = "brandname">TEAM 32</ul>
        <ul class="nav-area">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                Monitoring
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="http://45.113.234.69:3000/d/jkbI2ZzGz/docker-monitoring?orgId=1&refresh=10s" target="_blank">instance 1</a>
                <a class="dropdown-item" href="http://115.146.94.169:3000/d/193/docker-monitoring?orgId=1&refresh=10s" target="_blank">instance 2</a>
                <a class="dropdown-item" href="http://115.146.93.145:3000/d/193/docker-monitoring?orgId=1&refresh=10s" target="_blank">instance 3</a>

            </div>
            </li>
            <li><a href="./map" >Map</a></li>
            <li><a href="./chart">Chart</a></li>
            <li><a href="./" style="color:#007bff">Home</a></li>
        </ul>
    </nav>
    </div>

<!--    <div class="logo">-->
<!--        <img src="../static/image/logo2.png" width="30" height="30">-->
<!--    </div>-->

    <div class="welcome-text">

        <h1>COMP90024</h1>

<!--        <h2><a href="#" onclick="displayName()">TEAM MEMBER</a></h2>-->
<!--        <span class="create">Create something</span>-->
        <button type="button" class="btn btn-dark btn-lg" onclick="displayName()">TEAM&ensp; MEMBER</button>
        <div id="hidename" style="display:none">
            <ul> </ul>
                <table style="width:45%" align="center">
                    <tr>
                        <td style="text-align:left">Minshen Lu</td>
                        <td style="text-align:left">1039243</td>
                    </tr>
                    <tr>
                        <td style="text-align:left">Zhe Wang</td>
                        <td style="text-align:left">1064919</td>
                    </tr>
                    <tr>
                        <td style="text-align:left">Zisheng Cheng</td>
                        <td style="text-align:left">1105176</td>
                    </tr>
                    <tr>
                        <td style="text-align:left">Kailun Huang</td>
                        <td style="text-align:left">828808</td>
                    </tr>
                    <tr>
                        <td style="text-align:left">Yanming Wang</td>
                        <td style="text-align:left">1049577</td>
                    </tr>
                </table>
        </div>
    </div>
</header>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>-->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
<!--<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>-->
<!--<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="/static/JavaScript/HomeScript.js"></script>


</body>
</html>>