<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/CSS/homeStyle.css">
</head>
<!--https://www.tripsavvy.com/thmb/XW0-2sJZ0-Ua5gCCw31pu1AOX38=/2098x1428/filters:fill(auto,1)/cityscape-of-melbourne-city-of-australia-during-the-sunset&#45;&#45;873409300-8db98cef20b44200abfb339188d801f7.jpg-->
<body>
<header>
    <div class="wrapper">
        <div class="logo">
            <img src="logo.png" alt="">
        </div>
        <ul class="nav-area">
            <li><a href="./home.html">Home</a></li>
            <li><a href="main.html">Map</a></li>
            <li><a href="./chart.html">Chart</a></li>
        </ul>
    </div>

    <div class="welcome-text">
        <h1>COMP90024</h1>
    </div>
</header>

</body>
</html>>